.modal-box {
  display: none;
  position: fixed;
  z-index: 1000;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

  
  align-items: center;
  justify-content: center;

  background-color: rgba($color: #000000, $alpha: .5);

  &.opened {
    display: flex;
  }

  .modal {
    width: 88%;
    max-width: 527px;

    background: #FFFFFF;
    border-radius: 8px;

    padding: 30px 24px;

    position: relative;

    .button-close {
      position: absolute;
      top: 24px;
      right: 24px;
    }

    .title {
      margin-bottom: 25px;
    }
  }
}
