.button {
  display: inline-block;

  display: flex;
  align-items: center;
  justify-content: center;

  padding: 10px 15px;

  color: #FFFFFF;
  background: #043071;
  border-radius: 6px;

  outline: none;
  border: none;

  &.button_small {
    height: 32px;
    font-size: 13px;
  }

  &.button_medium {
    height: 48px;
    font-size: 15px;
  }

  &.button_full-width {
    width: 100%;
  }

  &.button_long {
    width: 80%;
    max-width: 455px;
  }
}

.burger {
  outline: none;
  border: none;

  background-size: contain;
  background-repeat: no-repeat;
  background-color: transparent;
}

.button-close {
  display: block;
  height: 18px;
  width: 18px;
  background: url("../images/close.svg");
  background-repeat: no-repeat;
  outline: none;
  border: none;
}

@include desktop {
  .button {
    border-radius: 10px;

    &.button_small {
      height: 48px;
      font-size: 16px;
    }

    &.button_medium {
      height: 80px;
      font-size: 20px;
    }

    transition: 0.2s;

    &:hover {
      box-shadow: 0px 4px 37px rgba(0, 0, 0, 0.08);
      opacity: 0.9;
    }
  }
}
