.logo {
  content: url("../images/jet-beauty-logo.svg");
  display: inline-block;

  line-height: 1;

  &.logo_header {
    width: 88px;
    height: 28px;
  }
}

.title {
  font-size: 24px;
  margin-top: 0;
}

.paragraph {
  font-size: 13px;
  color: #000;

  &.paragraph_big {
    font-size: 19px;
    line-height: 23px;
  }
}



@include desktop {
  .logo {
    &.logo_header {
      width: 110px;
      height: 36px;
    }
  }

  .paragraph {
    font-size: 16px;
    line-height: 25px;

    &.paragraph_big {
      font-size: 32px;
      line-height: 39px;
    }
  }
}
