.logo {
  content: url("../images/jet-beauty-logo.svg");
  display: inline-block;

  line-height: 1;

  &.logo_header {
    width: 88px;
    height: 28px;
  }
}

@include desktop {
  .logo {
    &.logo_header {
      width: 110px;
      height: 36px;
    }
  }
}
