.form {
  .input-box {
    position: relative;
    label {
      position: absolute;
      top: -12px;
      left: 12px;
      font-size: 13px;
      line-height: 24px;
      color: #043071;

      background: white;
      padding: 0 8px;
    }

    input {
      background: #FFFFFF;
      border: 1.5px solid rgba(0, 0, 0, 0.4);
      box-sizing: border-box;
      border-radius: 8px;
      width: 100%;
      margin-bottom: 28px;
      font-size: 13px;
      line-height: 24px;
      color: #000000;
      // opacity: 0.7;
      padding: 10px;
    }
  }
}
